delivery_analyses/
deliveries/
blastdbs/
genomes/
index/
validation-work/*
validation-output/
*cpython*
.Rproj.user
*.Rhistory
*.Rproj
statistics/*/index.html
statistics/*/index_cache/
statistics/*/index_files/
